$diploma-color: #00f;
$student-color: #f00;

%card-spacing {
  margin: 1em 0;
  padding: 1em;
}

%card-border {
  border-width: 1px;
  border-style: dashed;
  border-radius: 0.5em;
}

@mixin card($color) {
  @extend %card-spacing;
  @extend %card-border;
  border-color: $color;
}
