@import 'src/assets/scss/variables-extends';

.student {
  @extend %diploma-student-spacing;
  @extend %diploma-student-border;
  border-color: $student-color;

  h3 {
    margin-top: 0;
  }

  .has-graduated {
    font-weight: bold;
  }

}
